
@using NeYemekYapsam.Entities
@using NeYemekYapsam
@using NeYemekYapsam.Models


<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Arkadya">
	<meta name="author" content="">
	<title>Arkadya - Türkiye'nin Film - Dizi - Kitap İnceleme Sitesi</title>

	<!--Favicon-->
	<!-- Bootstrap Core CSS -->

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
	<link href="~/Content/shop-homepage.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.1.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

	<link href="~/Content/font-awesome.css" rel="stylesheet" />

</head>
<body>

	<!-- Navigation -->

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Menü</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!--favicon gelecek-->
				<a class="navbar-brand" href="/Home/Index">Arkadya</a>
			</div>

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="nav navbar-nav">
					<li class="nav-item" style="padding-left:245px;">
						<a class="nav-link" href="/Home/MostLiked">
							<span class="fa fa-fw fa-star"></span> Popüler İncelemeler
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="padding-left:28px;" href="/Home/Index">
							<span class="fa fa-fw fa-fire"></span> Son Paylaşılan
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="padding-left:27px;" href="/Home/About">
							<span class="fa fa-info-circle"></span> Hakkımızda
						</a>
					</li>
				</ul>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						@if (CurrentSession.User != null)
						{
							@*<li class="nav-item">
				<a class="nav-link" href="/Home/Chart">
					<span class="fa fa-shopping-cart "></span> Okuma Sepetim

				</a>
			</li>*@

							<li class="dropdown">
								<a class="dropdown-toggle" href="/Note/MyNotes" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

									<span class="glyphicon glyphicon-wrench"></span> Yönetim <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										@MyBootstrap.LinkMenu("/Note/Create", "plus", " İnceleme Ekle")
									</li>

									<li class="dropdown-divider" role="separator"></li>
									<li>
										@MyBootstrap.LinkMenu("/Note/Index/", "th-list", " İncelemelerim")
									</li>
									<li>
										@MyBootstrap.LinkMenu("/Note/MyLikedNotes", "heart", "Beğendiklerim")

									</li>



									@if (CurrentSession.User.IsAdmin)
									{
										<li role="separator" class="divider"></li>
										<li>
											@MyBootstrap.LinkMenu("/Category/Create", "plus", "Kategori Ekle")
										</li>
										<li>
											@MyBootstrap.LinkMenu("/Category/Index", "th-list", "Kategoriler")
										</li>
										<li class="divider" role="separator"></li>
										<li>
											@MyBootstrap.LinkMenu("/KitapleaksUser/Create", "plus", "Kullanıcı Ekle")
										</li>
										<li>
											@MyBootstrap.LinkMenu("/KitapleaksUser/Index", "th-list", "Kullanıcılar")
										</li>

									}

								</ul>
							</li>
						}
						
							@if (CurrentSession.User == null)
							{

								<li class="nav-item" style="padding-left:179px;">
									<a class="nav-link" href="/Home/Login">

										<span class="fa fa-sign-in"></span>
										Giriş
									</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="/Home/Register">
										<span class="fa fa-user-plus"></span>
										Üye Ol
									</a>
								</li>
							
						}
						else

						{
							<li class="dropdown" style="richness">
								<a class="nav-link dropdown-toggle" href="/Home/ShowProfile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">
									<span class="glyphicon glyphicon-user"></span> @CurrentSession.User.Username
								</a>

								<ul class="dropdown-menu">
									<li>
										@MyBootstrap.LinkMenu("/Home/ShowProfile/", "user", " Profili Göster")
									</li>
									<li role="separator" class="divider"></li>

									<li>
										<a href="/Home/DeleteProfile" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz?');">
											<span class="glyphicon glyphicon-trash"></span> Profili Sil
										</a>
									</li>
									<li>
										@MyBootstrap.LinkMenu("/Home/Logout", "log-out", " Çıkış")
									</li>
								</ul>
							</li>
						}

						</ul>

</div>
			</div>
		</div>

	</nav>

	<!-- Page Content -->
	@RenderBody()



	<!-- /.container -->
	<!-- Footer -->
	@RenderSection("footer", required: false)



</body>
</html>











































































































