@model NeYemekYapsam.Entities.Note

@{
	ViewBag.Title = "Details";
}

<br />
<br />
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>İnceleme Detayı</h2>
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div>
			
			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor(model => model.Category.Title)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Category.Title)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Title)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Title)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Text)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Text)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.IsDraft)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.IsDraft)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.LikeCount)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.LikeCount)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.CreatedOn)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.CreatedOn)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.ModifiedOn)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.ModifiedOn)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.ModifiedUsername)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.ModifiedUsername)
				</dd>

			</dl>
			<div class="col-md-8 col-md-offset-2">
				@MyBootstrap.LinkButton("/Note/Edit/" + @Model.ID, "warning", string.Empty, string.Empty, "edit", "Düzenle")
				@MyBootstrap.LinkButton("/Note/Index", "default", string.Empty, string.Empty, "arrow-left", "Geri Dön")

			</div>
		</div>
	
		</div>
	</div>

